body {
    background-image: url(https://duratex-madeira-prd-images-bucket.s3.amazonaws.com/2017/08/original-padrao-preto-976x468.jpg);
    text-align: center;  
}
h1{
    color: white;
    text-shadow: 2px 2px 2px black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    text-align: left;
    color: antiquewhite;
    text-shadow: 2px 2px 2px black;
}
h3{
    text-align: left;
    color: antiquewhite;
    text-shadow: 2px 2px 2px black;
}
ul{
    text-align: left;
    color: antiquewhite;
    text-shadow: 2px 2px 2px black;
}
img{
    border-radius: 300px;
}
