body {
    background-image: url(https://64.media.tumblr.com/58a59eab7bad8758c6b9846a07917c89/5cfd502d17174f86-9c/s500x750/ec45513600c30de114b6585f1dd68cd1899ac294.gif);
    background-repeat: no-repeat;
    background-size: cover 100%
    
    
}