body {
    background-image: url(https://www.solidbackgrounds.com/images/2048x1536/2048x1536-pastel-brown-solid-color-background.jpg);
    text-align: center;  
}
h1{
    color: white;
    text-shadow: 2px 2px 2px black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    text-align: left;
    color: antiquewhite;
    text-shadow: 2px 2px 2px black;
}
h3{
    text-align: left;
    color: antiquewhite;
    text-shadow: 2px 2px 2px black;
}
ul{
    text-align: left;
    color: antiquewhite;
    text-shadow: 2px 2px 2px black;
}
img{
    border-radius: 300px;
}
