body{
    text-align: center;
}

img{
    border-radius: 2000px;
    width: 300px;
}
h2{
    text-align: left;
}
ul{
    text-align: left;
}
ol{
    text-align: left;
}
p{
    text-align: left;
}
h1{
    color: grey;
}